<div class = "devise-view">
  <h1 class="header-logo"><a href='/'>Bridge Band</a></h1>
  <div class="devise-signin">
    <div class="inner-box">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <h1>新規登録</h1>
        <div class="email-box">
          <%= f.label :name %> <br />
          <%= f.text_field :name, autofocus: true, maxlength: "20" %>
        </div>
        <div class="email-box">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="password-box">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="password-box">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="login-box">
          <%= f.submit "登録" %>
        </div>
      <% end %>
      <div class="newuser-box">
        <p><span>------</span> BridgeBandのアカウントをお持ちですか？ <span>------</span></p>
        <%= link_to "BridgeBandにログイン", new_user_session_path, class: "account" %>
      </div>
    </div>
  </div>
</div>