<div class = "show-contents">
  <%= image_tag @tweet.image.variant(resize: '530x300'), class:"tweet-show-image" %>
  <div class = "show-content">
    <%= link_to @tweet.user.name, user_path(@tweet.user.id), class: "tweet-show-name" %>
    <div class = "tweet-show-title" >
      <%= @tweet.title %>
    </div>
    <div class = "star-btn" id = "favorite_<%= @tweet.id %>">
      <%= render partial: "favorites/favorite", locals: { tweet: @tweet } %>
    </div>
  </div>
  <div class = "tweet-text">
    <%= @tweet.text %>
  </div>
  <% if user_signed_in? && current_user.id == @tweet.user_id %>
    <%= link_to "編集", edit_tweet_path(@tweet.id), class:"tweet-edit" %>
    <%= link_to "削除", tweet_path(@tweet.id), method: :delete, class:"tweet-delete" %>
  <% end %>
</div>



<div class="tweet-comments">
  <div class="tweet-comment">
    <% if user_signed_in? %>
      <%= form_with model: [@tweet, @comment], local: true do |f| %>
        <div class = "field">
          <%= f.label :text, "コメント" %><br />
          <%= f.text_field :text %>
        </div>
        <div class = "actions">
          <%= f.submit "送信する", class: "form-btn" %>
        </div>
      <% end %> 
    <% end %>
  </div>
  <ul class = "comments-lists">
      <li class = "comments-list">
        <% @comments.each do |comment| %>
          <p>
            <%= link_to comment.user.name , user_path(@tweet.user.id), class: "comment-user" %>
            <%= comment.text %>
          </p>
        <% end %>
      </li>
  </ul>
</div>