<div class >
  <div>
    <%= image_tag @tweet.image.variant(resize: '530x300') %>
  </div>
    <div>
    <%= @tweet.user.name %>
  </div>
  <div>
    <%= @tweet.title %>
  </div>
    <div>
    <%= @tweet.text %>
  </div>
</div>

<% if user_signed_in? && current_user.id == @tweet.user_id %>
  <ul>
    <li>
      <%= link_to "編集", "/tweets/#{current_user.id}/edit" %>
    </li>
  </ul>
<% end %>