<div class = "tweet-view">
  <p><%= @user.name %>さんのプロフィール</p>
  <table class="table">
    <tbody>
      <tr>
        <th class="table__col1">名前</th>
        <td class="table__col2"><%= @user.name %></td>
      </tr>
    </tr>
    </tbody>
  </table>
  <p><%= @user.name %>さんの投稿一覧</p><br/>
  <%= render partial: "tweets/tweet", collection: @tweets %>
</div>

<div id = "relationship_<%= @user.id %>">
  <%= render partial: "relationships/relationship", locals: { user: @user } %>
</div>

<% if user_signed_in? && current_user.id == @user.id %>
  <%= link_to "アカウントを編集する", edit_user_path(current_user.id) %>
<% end %>

<p><%= @user.name %>さんのお気に入り一覧</p><br/>
<div class = "tweet-view">
  <%= render partial: "tweets/tweet", collection: @favorite_tweet %>
</div>