<div class = "tweet-view">
  <p><%= @user.name %>さんのプロフィール</p>
  <table class="table">
    <tbody>
      <tr>
        <th class="table__col1">名前</th>
        <td class="table__col2"><%= @user.name %></td>
      </tr>
    </tr>
    </tbody>
  </table>
  <p><%= @user.name %>さんの投稿一覧</p><br/>
  <%= render partial: "tweets/tweet", collection: @tweets %>
</div>

<div id = "relationship_<%= @user.id %>">
  <%= render partial: "relationships/relationship", locals: { user: @user } %>
</div>

<% if user_signed_in? && current_user.id == @user.id %>
  <%= link_to "アカウントを編集する", edit_user_path(current_user.id) %>
<% end %>

<p><%= @user.name %>さんのお気に入り一覧</p><br/>
<div class = "tweet-view">
  <%= render partial: "tweets/tweet", collection: @favorite_tweet %>
</div>

<% unless @user.id == current_user.id %>
  <% if (current_user.following?(@user)) && (@user.following?(current_user)) %>
    <% if @isRoom == true %>
      <%= link_to "チャットへ", room_path(@roomId) %>
    <% else %>
      <%= form_with model: @room, local: true do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>