<div class = "tweet-view">
  <p><%= @name %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <div class = "tweet-box">
      <div class = "tweet-image">
        <a href= '/tweets/:id'><%= image_tag tweet.image.variant(resize: '320x180') %></a>
      </div>
      <div class = "tweet-name">
        <%= @name %>
      </div>
      <div class = "tweet-title">
        <%= tweet.title %>
      </div>
    </div>
  <% end %>
</div>


<%= link_to "アカウントを編集する", "/users/#{current_user.id}/edit" %>